<ion-header>
  <ion-toolbar color = "primary">
    
    <ion-title>
      MyHadir - Pengajar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col >
              <ion-img
                src="../assets/myHadirPengajar1.png">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
    Selamat datang ke MyHadir Portal
  </div>
  <!-- <ion-grid> -->
  <!-- <ion-row> -->
              <ion-button color="secondary"  expand="full" (click)="login()">
          Login
        </ion-button>
  <!-- </ion-row> -->
  <!-- <ion-row> -->
        <ion-button color="secondary" expand="full" (click)="daftar()">
          Daftar Kali Pertama
        </ion-button>
    <!-- </ion-row> -->
  <!-- </ion-grid> -->
  <div class="ion-padding">
      <ion-grid class="ion-no-padding" expand="full">
                Login @ Daftar Masuk (untuk pengguna baru)
        </ion-grid>
  </div>
      
</ion-content>
